langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
ipykernel
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain_groq
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
unstructured
pytube
numexpr


